<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <title>Login</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/css/main.css" />
        <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    </head>
    <body class="landing is-preload">

<!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            <header th:replace="~{fragments/header.html}" id="header" class="alt"></header>

            <article id="main">
                <header>
                    <h2>Login</h2>
                </header>
                <section class="wrapper style5">
                    <div class="inner">
                        <form th:method="post" th:action="@{/users/login}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <div th:if="${credentialMismatch}" class="text-danger">Invalid username or password.</div>
                            <div class="row aln-center gtr-uniform">
                                <div class="col-7">
                                    <label for="username"></label>
                                    <input type="text" name="username" id="username" value="" placeholder="Username" required/>
                                </div>
                                <div class="col-7">
                                    <label for="password"></label>
                                    <input type="password" name="password" id="password" value="" placeholder="Password" required/>
                                </div>
                                <div class="col-12">
                                    <ul class="actions special">
                                        <li><input type="submit" value="Login" class="primary" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        <p class="align-center">Don't have an account? <a th:href="@{/users/register}">Register</a></p>
                    </div>
                </section>
            </article>
            <footer th:replace="~{fragments/footer.html}" id="footer"></footer>
        </div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
