<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Sign Up</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/css/main.css" />
        <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    </head>
    <body class="landing is-preload">

<!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            <header th:replace="~{fragments/header.html}" id="header" class="alt"></header>

            <article id="main">
                <header>
                    <h2>Sign Up</h2>
                </header>
                <section class="wrapper style5">
                    <div class="inner">
                        <form th:method="post" th:action="@{/users/register}" th:object="${userDTO}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <div class="row gtr-uniform">
                                <div class="col-6 col-12-xsmall">
                                    <label for="demo-name"></label>
                                    <input th:field="*{username}" type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
                                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <label for="demo-password"></label>
                                    <input th:field="*{password}" type="password" name="demo-password" id="demo-password" value="" placeholder="Password" />
                                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <label for="demo-email"></label>
                                    <input th:field="*{email}" type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
                                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <label for="demo-confirm-password"></label>
                                    <input th:field="*{confirmPassword}" type="password" name="demo-confirm-password" id="demo-confirm-password" value="" placeholder="Confirm Password" />
                                    <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
                                    <div th:if="${passwordMismatch}" class="text-danger">Passwords do not match.</div>
                                </div>
                                <div class="col-12">
                                    <ul class="actions">
                                        <li><input type="submit" value="Sign up" class="primary" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </article>
            <footer th:replace="~{fragments/footer.html}" id="footer"></footer>
        </div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
